@model User



<form action="/Register" method="post" class="col-5">
<h2 class="mb-5 mt-5 text-center">Register</h2>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label class="font-weight-bold" asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="submit" value="Register" class="btn btn-info mt-3 float-right">
</form>