@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex flex-column align-items-center rounded">
    @if(ViewBag.LoginMessage != null)
    {
        <p class="alert alert-success mb-2">@ViewBag.LoginMessage</p>
    }
    @if(ViewBag.Update != null)
    {
        <p class="alert alert-success mb-2">@ViewBag.Update</p>
    }
    <div id="content" class="col-10 d-flex flex-column mt-5">
        <h1 class="display-4">Welcome to the DASHBOARD</h1>
        <div class="mt-4">
            @*<partial name="_Something"/>*@
        </div>
        <a asp-action="Tutorial" class="btn btn-dark col-2">Go to Tutorial</a>
        <a asp-action="TestJson" class="btn btn-dark col-2 mt-3">Test Json</a>
    </div>
</div>