@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center text-center">
    @if(ViewBag.LoginMessage != null)
    {
        <p class="alert alert-success mb-2">@ViewBag.LoginMessage</p>
    }

    <h1 class="display-4">Welcome to Chess for Cohorts!</h1>
    <p class="lead">Please login to access this site.</p>
    <p class="lead">Thank You!</p>
    <a asp-action="LoginPage" class="btn btn-dark mt-3">Let's Go!</a>
</div>
