@{
    ViewData["Title"] = "Tutorial";
}

<div class="d-flex flex-column align-items-center text-center">
    @if(ViewBag.LoginMessage != null)
    {
        <p class="alert alert-success mb-2">@ViewBag.LoginMessage</p>
    }

    <h1 class="display-4">Learn to Move!</h1>
    <p class="lead">Please select a piece to practice.</p>
    <div id="PracticePawn" style="background-image: url(/images/05.png);width:100px; height: 100px;" class="square"></div>
    <a id="ResetBoard" href="#" class="btn btn-dark col-2">Reset Board</a>
    <div id="Board" class="d-flex flex-wrap mt-4"></div></div>

@section Scripts{
    <script>
        var gameBoard = {};
        function getBoard(){
            $.get("@Url.Action("CreateBoard")",null, function (data) {
                constructBoard(data.board);
            });
        }
        function printResponse(){
            console.log(gameBoard);
        }
        function constructBoard(e){
            gameBoard = e;
            var board = gameBoard;
            for(i=0; i<board.boardSquares.length;i++)
            {
                let file = board.boardSquares[i].location.file;
                let rank = board.boardSquares[i].location.rank;
                let piece = (board.boardSquares[i].currentPiece) ? String("/images/" + board.boardSquares[i].currentPiece.color) : "";
                piece += (board.boardSquares[i].currentPiece) ? String(board.boardSquares[i].currentPiece.type + ".png") : "";

                $("#Board").append("<div id='F"+ file +"R"+ rank +"' class='square color" + board.boardSquares[i].color + "'></div>");
                
                if (piece)
                    $("#F"+ file +"R"+ rank).attr("style", "background-image: url("+piece+");");
            }
        }

        $(document).ready(function() {
            var x = false;
            // generate board
            getBoard();

            $(document).on("click", ".square", function(){
                if($(this).hasClass("selected")){
                    $(this).removeClass("selected");
                }else{
                    $("#Board > div").removeClass("selected");
                    $(this).toggleClass("selected");
                }
                printResponse();
            });

            $("#PracticePawn").click(function() {
                if (!x){
                    $.get("@Url.Action("PracticePawn", new {boardstate ="+ gameBoard +"})",null, function (data) {
                        $("#Board").html("");
                        constructBoard(data.board);
                        // console.log(data);
                    });
                    x = true;
                } else{
                    $("#Board").html("");
                    getBoard();
                    x = false;
                }
            });

            $(document).on( "click", "#ResetBoard", function() {
                $("#Board").html("");
                getBoard();
            });
        });
    </script>
}